* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --colorDarkBlue: #2d3648;
    --colorLightBlue: #bdc5d3;
    --colorRed: #ff5252;
    --colorWhite: white;
    --colorBlack: black;
}

body {
    font-family: 'Inter';
    background-color: var(--colorWhite);
    color: var(--colorDarkBlue);
}