button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
}

button:hover {
  transform: scale(1.01);
}

.btn {
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  text-align: center;

  border-radius: 0.375em;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 50ms ease-in-out;
  width: min-content;
  border: 2px solid var(--colorDarkBlue);
}

.btn__primary {
  color: var(--colorWhite);
  background: var(--colorDarkBlue);

  &:hover {
    color: #fff;
  }
}

.btn__secondary {
  color: var(--colorDarkBlue);
}

.btn__delete {
  color: var(--colorRed);
  border: 0;
  &:hover {
    color: #fff;
  }
}
