button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button:hover {
  transform: scale(1.01);
}

.btn {
  font-feature-settings: "calt" off;

  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.01rem;
  text-align: center;

  border-radius: 0.375em;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 50ms ease-in-out;
  width: min-content;
  border: 2px solid var(--colorDarkBlue);
}

.btn__primary {
  color: var(--colorWhite);
  background: var(--colorDarkBlue);
}

.btn__secondary {
  color: var(--colorDarkBlue);
}

.btn__delete {
  color: var(--colorRed);
}
