header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--colorBlack);
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--colorWhite);
}

header > div {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

header > div > img {
    width: 100px;
    justify-self: flex-end;
}

header > div div:nth-child(2) {
    width: 100%;
    border: 1px solid var(--colorBlack);
    display: flex;
    padding: 2px 10px;
    gap: 5px;
    border-radius: 4px;
    align-items: center;
}

header input {
    width: 99%;
    border: 0;
    height: 30px;
}

header > div p:nth-child(3) {
    font-weight: bold;
}