.header__container {
    width: 100vw;
    border-bottom: 1px solid var(--colorBlack);
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--colorWhite);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: min(90%, 1200px);
    margin: 0 auto;
    background-color: white !important;
}

.header__logo {
    width: 100px;
    justify-self: flex-end;
}

.header__input {
    width: min(100%, 500px);
    border: 1px solid var(--colorBlack);
    display: flex;
    padding: 2px 10px;
    gap: 5px;
    border-radius: 4px;
    align-items: center;
}

.header__input-area {
    width: 99%;
    border: 0;
    height: 30px;
}

.header__buttons {
    gap: 1em;
    display: flex;
}

#navbarNav {
    gap: 1rem;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .header__input {
        margin-bottom: 1rem;
        margin-inline: auto;
    }

    .header__buttons {
        justify-content: center;
    }
}
