.main__container {
    display: flex;
    margin-top: 4rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: min(90%, 75rem);
    gap: 5rem;
    margin-top: 4rem;
    margin-inline: auto;
}

.game__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container__game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 4rem;
}

.game__image {
    object-fit: cover;
    border-radius: 0.25rem;
}

.game__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game__rating {
    display: flex;
    gap: 0.5rem;
}

.game__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.game__title {
    font-weight: bold;
    font-size: 2em;
}

.game__tags {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.game__tags-category,
.game__tags-platform {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
}
