.tag {
    color: var(--colorWhite);

    /* WF Body/Body Small */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 150%; /* 1.3125rem */

    padding: 0.25em 0.5em;
    border-radius: 0.2rem;
}

.tag__game,
.tag__plataform {
    background-color: #35373a;
    color: var(--colorWhite);
    padding: 10px;
    border-radius: 4px;
    text-transform: lowercase;
}

.tag__plataform {
    background-color: #2d3648;
}

.tag__plataform {
    background-color: #2d3648;
}
