header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--colorBlack);
}

header ul {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

header ul li:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
}

header ul li:nth-child(2) {
    width: 100%;
    border: 1px solid var(--colorBlack);
    display: flex;
    padding: 2px 10px;
    gap: 5px;
    border-radius: 4px;
    align-items: center;
}

header ul li input {
    width: 99%;
    border: 0;
    height: 30px;
}

header ul li:nth-child(3) {
    font-weight: bold;
}