.home__header {
  padding: 1.5rem 0;
  border-bottom: 1px solid #2d3648;
}

.home__header-content {
  display: flex;
  justify-content: space-between;

  & button {
    display: flex;
    padding: 0.5em;
  }
}

.home__header-content,
.home__menu-content {
  margin: 0 auto;
  width: 90%;
}

.home__menu {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.home__menu-itens {
  display: flex;
  flex-direction: column;
}

.home__menu-item {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-block: 0.75em;
  &:hover {
    background-color: #e2e7f0;
  }
}

.divider {
  height: 2px;
  margin-block: 2em;
  background-color: #a0abc0;
}

.home__menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
