button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.btn {
  font-feature-settings: "calt" off;

  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.01rem;
  text-align: center;

  padding: 1em 1.5em;
  border-radius: 0.375em;

  &:hover {
    text-decoration: underline;
  }
}

.btn__primary {
  color: white;
  background: #2d3648;

  &:hover {
    background-color: white;
    color: #2d3648;
    filter: brightness(90%);
  }
}

.btn__secondary {
  color: #2d3648;
  outline: 2px solid #2d3648;

  &:hover {
    background-color: white;
    color: #2d3648;
    filter: brightness(90%);
  }
}

.btn__delete {
  color: #ff5252;
}

.tag {
  color: #fff;

  /* WF Body/Body Small */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 150%; /* 1.3125rem */

  padding: 0.25em 0.5em;
  border-radius: 0.2rem;
}

.tag__game {
  background: #35373a;
}

.tag__plataform {
  background: #2d3648;
}
